@import "tailwindcss";

@theme {
    --color-blue: #1043F3;
    --color-strong-dark:#000000;
    --color-lighter-dark:#1B1F26;
    --color-gray:#686868;
    --color-darker-gray:#4A4A4A;
    --color-dark-blue:#242933;
    --color-white-obscure: #F5F6F9;
    --color-white: #ffffff;
    --spacing-s10: 10px;
    --spacing-s20: 20px;
    --spacing-s30: 30px;
    --spacing-s40: 40px;
    --spacing-s50: 50px;
    --spacing-s60: 60px;
    --spacing-s70: 70px;
    --spacing-s80: 80px;
    --spacing-s90: 90px;
    --spacing-s100: 100px;
    --font-size-h1-12v: 12vmin;
    --font-size-h1-9v: 9vmin;
    --font-size-h1-7v: 7vmin;
    --font-size-h2-6v: 6vmin;
    --font-size-h3-4-2v: 4.2vmin;
    --font-size-h3-3v: 3vmin;
    --font-size-p-4v: 4vmin;
    --font-size-p-3v: 3vmin;
    --font-size-plink-3v: 3vmin;
    --breakpoint-mobile: 680px;

}

 @layer base {
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'in';
        font-family: 'inter';
        scroll-behavior: smooth;
      }
      html {
    scroll-behavior: smooth;
}

ol, ul {
    list-style: none;
}

h1 {
    font-size: var(--font-size-h1-7v);
}

h2 {
    color: var(--color-dark-blue);
    font-size: var(--font-size-h2-6v);

}

h3 {
    color: var(--color-dark-blue);
    font-size: var(--font-size-h3-4-2v);
}

p {
    color: var(--color-dark-blue);
    font-size: var(--font-size-p-4v);
}

a {
    color: var(--color-dark-blue);
    text-decoration: none;
    font-weight: 400;
    transition: .5s;
}

img {
    width: 100%;
    display: block;
}
    }


.section-hero {
    min-height: 90vh;
}

.section-contato {
    min-height: 90vh;
    padding-inline:var(--spacing-s80);
    background: var(--color-white-obscure);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section-solucao {
    background-color: var(--color-white-obscure);
}

.section-login {
    min-height: 100vh;
    padding-inline: var(--spacing-s80);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.login-botao {
    transition: .5s;
}

.login-botao:hover {
    transform: scale(1.15);
}

.card-login-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
}

.card-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--color-strong-dark);
    background-color: var(--color-white-obscure);
    padding-top: var(--spacing-s40);
    gap: 25px;
    height: 550px;
    width: 40%;
    border-radius: 10px;
    flex-wrap: wrap;
}


.card-login input {
    height: 30px;
    width: 100%;
    padding-left: var(--spacing-s10);
    border: 1px solid var(--color-lighter-dark);
    border-radius: 3px;
    background-color: white;
}

.card-login button{
    height: 30px;
    width: 20%;
    border: 1px solid var(--color-lighter-dark);
    border-radius: 3px;
    background-color: white;
    transition: .4s;
}

.card-login button:hover{
    background-color: #1043F3;
    color: white;
    border: 1px solid var(--color-lighter-dark);
}

.card-login p {
    font-size: 2vmin;
}

.card-login a {
    font-size: 2vmin;
    color: #1043F3;
    text-decoration: underline;
}

.div-email {
    margin-top: var(--spacing-s10);
}

.div-senha {
    margin-top: var(--spacing-s10);
}

.report-linha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--spacing-s10);
}

.logado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-s30);
    margin: auto;
}

.col-2{
    grid-column: span 2;
}
.row-2{
    grid-row: span 2;
}

.avaliacao-estrelas {
  display: flex;
  align-items: center;
  gap: 6px;
}

.estrelas {
  display: flex;
}

.estrela {
  font-size: 1.2rem;
}

.estrela.cheia {
  color: #FFD93D;
}

.estrela.meia {
  color: #FFD93D;
  opacity: 0.5; /* solução simples; se quiser meia estrela "de verdade" visualmente, precisa de SVG */
}

.estrela.vazia {
  color: #ccc;
}

.nota-numero {
  font-weight: bold;
}

.total-avaliacoes {
  color: #888;
  font-size: 0.85rem;
}
